* {
  font-family: 'Noto Sans JP', 'Noto Sans SC', sans-serif;
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  z-index: 100;
  user-select: none;
}

html {
  background-color: #dfdfdf;
}
html.dark {
  background-color: #222;
}

a {
  color: #2196f3;
  transition-duration: 200ms;
}
a:hover {
  color: #1871b8;
}

ul {
  margin-left: 2rem;
}

.main {
  margin: 2rem;
}
.main h3 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}
.main h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input {
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  transition-duration: 200ms;
}

select {
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  transition-duration: 200ms;
}
select:hover {
  background-color: #ccc;
}
select option {
  background-color: #fff;
}

button.save {
  background-color: #2196f3;
  border-radius: 1rem;
  color: #fff;
  padding: 0.25rem 0.75rem;
  margin-left: 0.5rem;
  transition-duration: 200ms;
}
button.save:hover {
  background-color: #1871b8;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 27px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(33px);
  -ms-transform: translateX(33px);
  transform: translateX(33px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #aaa;
}
.close a {
  width: 30px;
  height: 30px;
  padding: 0 0.375rem;
  padding-top: 0.75rem;
}

.dark {
  color: #fff;
}

.dark input,
.dark select {
  color: #fff;
  background-color: #333;
}
.dark input:focus,
.dark select:hover {
  background-color: #444;
}
.dark option,
.dark option:hover {
  background-color: #222;
}

h2 {
  margin-bottom: 1rem;
}
#list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#list h3 {
  margin: 0;
}
#list #col {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
#list #icon {
  width: 32px;
}
.dark .icon {
  filter: invert(1);
}
